/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* 
FONT-SIZE-SYSTEM:
Base font size: 16px
Scale ratio: 1.2 (Minor third)

| Step | -3    | -2    | -1    | 0  | +1   | +2    | +3    | +4    | +5    | +6    |
| ---- | ----- | ----- | ----- | -- | ---- | ----- | ----- | ----- | ----- | ----- |
| px   | 9.26  | 11.11 | 13.33 | 16 | 19.2 | 23.04 | 27.65 | 33.18 | 39.81 | 47.77 |
| rem  | 0.578 | 0.694 | 0.833 | 1  | 1.2  | 1.44  | 1.728 | 2.074 | 2.488 | 2.986 |


*/

/*? GENERAL STYLES */
:root {
  --primary-color: #1864ab;
  --gray-color: #343a40;
}

body {
  font-family: 'Inter', 'serif';
  color: var(--gray-color);
  width: 100%;
  border-bottom: 8px solid var(--primary-color);
}

.container {
  width: 890px;
  margin: 0 auto;
}

.grid-3-cols {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 112px;
}

img {
  width: 100%;
}

figure {
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
}
ul:last-child {
  background-color: yellow;
}
.btn {
  color: #fff;
  font-weight: 400;
  background-color: var(--primary-color);
  border: none;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    background-color: #1971c2;
  }
}

.btn--small {
  font-size: 13px;
  width: 109px;
  height: 27px;
}

.btn--big {
  font-size: 19px;
  width: 173px;
  height: 48px;
}

/*  */
/*? HEADER  */
/*  */

header {
  display: grid;
  grid-template-columns: 1fr 400px;
  column-gap: 65px;
  margin-top: 100px;
  margin-bottom: 75px;
}

header img {
  /* grid-row: 1 / span 3;
  grid-column: 2 / span 1; */
  /* grid-area: 1 / 2 / span 3 / span 1; */
}

header h1 {
  margin: 0;
  margin-bottom: 37px;
  margin-top: 56px;
  font-size: 39px;
  line-height: 35.1px;
  font-weight: 700;
}

.header-text {
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 33px;
}

/*  */
/*? FEATURES SECTION  */
/*  */
.features-section {
  margin-bottom: 100px;
}

section h2 {
  margin-bottom: 45px;
  font-size: 33px;
}

.features-title {
  font-size: 19px;
  font-weight: 700;
  margin: 0 0 12px 0;
}
.features-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  margin: 0;
}
.features-icons {
  /* display: inline; */
  width: 24px;
  height: 24px;
  margin-bottom: 10px;
}

/*  */
/*? TESTIMONIAL SECTION  */
/*  */
.testimonial-section {
  background-color: var(--primary-color);
  width: 839px;
  margin: 0 auto;
  margin-bottom: 79px;
  color: #fff;
  padding: 30px 51px 30px 30px;
  display: grid;
  grid-template-columns: 213px 1fr;
  column-gap: 83px;
}
.testimonial-section img {
}
.testimonial-info {
  align-self: center;
  /* width: 462px; */
}
.testimonial-section h2 {
  font-size: 19px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 15px;
}

.testimonial-text {
  margin: 0;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 25px;
  margin-bottom: 30px;
}
.testimonial-author {
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  margin: 0;
}

/*  */
/*? BESTSELLILNG SECTION  */
/*  */
.bestselling-section {
  display: grid;
  grid-template-columns: repeat(3, 240px);
  column-gap: 92px;
  margin-bottom: 79px;
}

.bestselling-section h3 {
  margin: 18px 0;
  font-size: 19px;
}
.bestselling-section h3,
.bestselling-section ul {
  padding: 0 15px;
}

.bestselling-icon {
  width: 24px;
  height: 24px;
}

.bestselling-section li {
  margin-bottom: 18px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.bestselling-section ul {
  margin-bottom: 31px;
}

.service-price {
  padding-left: 15px;
  display: flex;
  justify-content: space-between;

  & strong {
    font-size: 19px;
    font-weight: 700;
  }
}

/*  */
/*? FOOTER  */
/*  */
footer {
  margin-bottom: 57px;
  text-align: center;
  color: #495057;
  font-size: 13px;
}
